trigger:
- main

pool:
  name: 'LocalPool'

variables:
  acrName: 'fcgregistries.azurecr.io'
  dockerRegistryServiceConnection: '576941a1-c337-49cf-af7a-81750fcd6af9'
  tag: '$(Build.BuildId)'
  buildContext: '$(Build.SourcesDirectory)'

stages:
- stage: BuildAndPush
  displayName: Build and Push Images
  jobs:
  - job: BuildApi
    displayName: Build Payments API
    steps:
    - task: Docker@2
      displayName: Build and Push API Image
      inputs:
        command: buildAndPush
        repository: 'fcg-payments-api'
        dockerfile: '$(Build.SourcesDirectory)/FCG-Payments.Api/Dockerfile'
        containerRegistry: $(dockerRegistryServiceConnection)
        buildContext: $(buildContext)
        tags: |
          $(tag)

  - job: BuildWorker
    displayName: Build Payments Worker
    steps:
    - task: Docker@2
      displayName: Build and Push Worker Image
      inputs:
        command: buildAndPush
        repository: 'fcg-payments-worker'
        dockerfile: '$(Build.SourcesDirectory)/FCG-Payments-WorkerService/Dockerfile'
        containerRegistry: $(dockerRegistryServiceConnection)
        buildContext: $(buildContext)
        tags: |
          $(tag)